version: "{{ docker_compose_verson }}"
services:

  app:
    image: {{ docker_registry_url }}/{{ image_name }}
    container_name: {{ container_name }}
    hostname: {{ container_hostname }}
    env_file: {{ env_path_host }}
{% if container_environments is defined %}
{% for env in container_environments %}
    environment:
      - {{ env }}
{% endfor %}
{% endif %}
    ports:
      - "{{ host_port }}:{{ container_port }}"
{% if container_command is defined %}
    command: "{{ container_command }}"
{% endif %}
    restart: unless-stopped
